@{
    Layout = "_Layout";
}

@using PierresTreats.Models

<h1>Treats List:</h1>

@if (Model.Count == 0)
{
    <h3>No treats have been added to your systme</h3>
    <p>@Html.ActionLink("Add new treats", "Create")</p>
}

<ul>
    @foreach (Treat treat in Model)
    {
        <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId})</li>
    }
</ul>

<p>@Html.ActionLink("Add new treats", "Create")</p>