@{
    Layout = "_Layout";
}

@model PierresTreats.Models.Flavor



<h4>Add a new flavor</h4>

<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger"})</p>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Description)
    @Html.TextBoxFor(m => m.Description)

    <input type="submit" value="Add new flavor" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>